# 秉君學長空污
airDeal
# make_GEI
make_GEI/picture
make_GEI/data
make_GEI/2018level.csv
make_GEI/KMeans.csv
make_GEI/cut~3_old.csv
make_GEI/statistics_shot_length.py
# 加強對比 contrast
contrast/image
contrast/*.csv
# GEI_clustering
GEI_clustering/clustering
GEI_clustering/histogram/data
GEI_clustering/bow/data
GEI_clustering/bow/clustering
GEI_clustering/bow/code/quadrant.py
GEI_clustering/cnn/data
# flask
flask/make_clusterUI/__pycache__
flask/static/image/GEI
flask/static/image/GEI_contrast
flask/static/image/sis
flask/static/image/gif
flask/static/image/clusterUI
flask/static/data/clustering
flask/static/data/GEI_regular
flask/static/data/*.csv
flask/dynamicPic/
# find Best Way 線下資料評估，無須放到網頁
findBestWay

# 其他
other/make_gif/image
other/draw_origin/sis_origin
other/draw_origin/*.csv
other/drawSSE