<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../static/css/show.css">
  <link rel="stylesheet" href="../static/css/main.css">
  <!-- <link rel="stylesheet" href="{{ url_for('static',    filename='css/show.css') }}"> -->
  <!--引入jQuery包用于使用ajax-->
  <title>GEI</title>
</head>

<body class="bg">
  <div id="container">
    {% include 'navbar.html' %}
    {% include 'modal.html' %}

    <div class="text">
      <h2>{{title}}</h2>
      <a href="https://hackmd.io/@chi-hua/rykWwzByo">流程內容</a><br/>
      <h4 id="subtitle"></h4>
    </div>
    <div id="functionButton">
      <!-- 選擇年份 -->
      <select id="dataYear">
        <!-- <option value="" selected="selected">請選擇年份</option> -->
        <option value="2018">2018</option>
      </select>
        <!-- 選擇 cut 方法 -->
      <select id="cutTypeSelect">
        <!-- <option value="" selected="selected">請選擇 cut 方式</option> -->
        <option value="KMeans">KMeans</option>
        <option value="HCED1">HCED1</option>
        <option value="RasterScan4">RasterScan4</option>
      </select>
      <!-- 選擇 GEI 資料 -->
      <select id="data" onchange="GEI()">
        <option value="GEI_origin" selected="selected">GEI_origin</option>
        <option value="GEI_level">GEI_level</option>
      </select>
      <!-- GEI 加強對比 -->
      <button class="contrast" onclick="contrast();changeColor('contrast','0')">加強對比</button>
      <!-- browse by cluster -->
    </div>
    <input type="button" id="return" value="回
    到
    頂
    端" onclick="location.href='#functionButton'">
    <!-- GEI 畫面 -->
    <table id="frame"></table>
  </div>
  <!-- 網頁載入，資料選擇 GEI_origin -->
  <script src="../static/show.js"></script>
</body>
<script>
  // BBG 一開始 load GEI_origin 圖片
  $( document ).ready(function() {
      getGEINum().then(setTimeout(GEI(),0));
  });
  $("#cutTypeSelect").change(function(){
    showPicture.innerHTML = "";
    getGEINum();
    GEI();
  });
  // 顯示GEI
  function GEI() {
      folder = document.getElementById('data').value;
      subtitle.innerHTML = folder;
      let img = "<tr>";
      console.log(cutType);
      for (var i = 0; i < GEINum; i++) {
          imgName = "NO." + i + ".png";
          img += `<td><img src='./static/image/GEI/${dataYear}/${cutType}/${folder}/${imgName}' width="${(window.innerWidth-200)/5}px" id = ${i} onclick = "ShowModal(${i})" ><br/> ${imgName}</td>`;
          $("#qbeBtn").click(function(){openQBE(i)});
          // 換行
          if (i % 5 == 4) {
              img += "</tr><tr>";
          }
          boardGEI.push(imgName);
      }
      showPicture.innerHTML = img;
      sourceDataset = folder;
      changeColor("dataButton","none");
  }
</script>
</html>