<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../static/show.css">
  <!-- <link rel="stylesheet" href="{{ url_for('static',    filename='css/show.css') }}"> -->
  <!--引入jQuery包用于使用ajax-->
  <title>GEI</title>
</head>

<body class="bg">
  <div id="container">
    {% include 'bs_css.html' %}
    {% include 'bs_js.html' %}
    {% include 'navbar.html' %}

    <div class="text">
      <h2>{{title}}</h2>
      <a href="https://hackmd.io/@chi-hua/rykWwzByo">流程內容</a><br/>
      <h4 id="subtitle"></h4>
    </div>
    <div id="functionButton">
      <!-- 選擇年份 -->
      <select id="dataYear">
        <!-- <option value="" selected="selected">請選擇年份</option> -->
        <option value="2018">2018</option>
      </select>
        <!-- 選擇 cut 方法 -->
      <select id="cut">
        <!-- <option value="" selected="selected">請選擇 cut 方式</option> -->
        <option value="KMeans">KMeans</option>
      </select>
      <!-- 選擇 GEI 資料 -->
      <select id="data" onchange="GEI()">
        <option value="GEI_origin" selected="selected">GEI_origin</option>
        <option value="GEI_level">GEI_level</option>
      </select>
      <!-- GEI 加強對比 -->
      <button class="contrast" onclick="contrast();changeColor('contrast','0')">加強對比</button>
      <!-- browse by cluster -->
      <button onclick="location.href = '/bbc'">BBC</button>
    </div>
    <!-- gif 空汙動畫 -->
    <table id="gif">
      <tr>
        <td rowspan="10"><div id="modal" style="overflow: overflow-y"></td>
        <td><input type="text" id="speed" name="speed" placeholder="預設速度 2.0" maxlength="3" size="20"></td>
      </tr>
      <tr><td><button id="speedBtn" onclick="gif()">開始製作gif</button></td></tr>
      <tr><td><button id="modalBtn" onclick="hide()">停止播放</button></td></tr>
      <!-- 排版需求 -->
      <tr><td height="200px"></td></tr>
    </table>
    <input type="button" id="return" value="回
    到
    頂
    端" onclick="location.href='#functionButton'">
    <!-- GEI 畫面 -->
    <table id="frame"></table>
  </div>
  <!-- 網頁載入，資料選擇 GEI_origin -->
  <script type="text/javascript" src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
  <script src="../static/show.js"></script>
  <script src="../static/bbg.js"></script>
</body>

</html>