<!DOCTYPE html>
<html lang="en">

<head>
  <!-- jquery -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>PM 2.5</title>
  <link rel="stylesheet" href="../static/css/interface.css">
</head>

<body>
  {% include 'navbar.html' %}
  方法
  <select id="method">
    <option value="22filter_group1">22filter_group1</option>
    <option value="22filter_group2">22filter_group2</option>
    <option value="22filter_group3">22filter_group3</option>
    <option value="22filter_group4">22filter_group4</option>
    <option value="22filter1">22filter1</option>
    <option value="22filter2">22filter2</option>
    <option value="22filter3">22filter3</option>
    <option value="22filter4">22filter4</option>
    <option value="HCED1">HCED1</option>
    <option value="HCED2">HCED2</option>
    <option value="HCED3">HCED3</option>
    <option value="HCED4">HCED4</option>
    <option value="HD1">HD1</option>
    <option value="HD2">HD2</option>
    <option value="HD3">HD3</option>
    <option value="HD4">HD4</option>
    <option value="HED1">HED1</option>
    <option value="HED2">HED2</option>
    <option value="HED3">HED3</option>
    <option value="HED4">HED4</option>
    <option value="Line1">Line1</option>
    <option value="Line2">Line2</option>
    <option value="Line3">Line3</option>
    <option value="Line4">Line4</option>
    <option value="Pixel1">Pixel1</option>
    <option value="Pixel2">Pixel2</option>
    <option value="Pixel3">Pixel3</option>
    <option value="Pixel4">Pixel4</option>
    <option value="RasterScan1">RasterScan1</option>
    <option value="RasterScan2">RasterScan2</option>
    <option value="RasterScan3">RasterScan3</option>
    <option value="RasterScan4">RasterScan4</option>
    <option value="Sobel1">Sobel1</option>
    <option value="Sobel2">Sobel2</option>
    <option value="Sobel3">Sobel3</option>
    <option value="Sobel4">Sobel4</option>
    <option value="SobelLine1">SobelLine1</option>
    <option value="SobelLine2">SobelLine2</option>
    <option value="SobelLine3">SobelLine3</option>
    <option value="SobelLine4">SobelLine4</option>
    <option value="XY_Moment_Nolevel1">XY_Moment_Nolevel1</option>
    <option value="XY_Moment_Nolevel2">XY_Moment_Nolevel2</option>
    <option value="XY_Moment_Nolevel3">XY_Moment_Nolevel3</option>
    <option value="XY_Moment_Nolevel4">XY_Moment_Nolevel4</option>
    <option value="XY_Moment1">XY_Moment1</option>
    <option value="XY_Moment2">XY_Moment2</option>
    <option value="XY_Moment3">XY_Moment3</option>
    <option value="XY_Moment4">XY_Moment4</option>
  </select>
  <button id="up-btn">確認</button>
  <button id="alert-btn">說明</button>
  <!--<input type="text" name="user" id="user">-->
  <img id="key" src="../static/image/image_level.png" alt="">
  <div class="container">
    <table id="frame"></table>
  </div>
  <div id="buttons">
    <button id="moreback">BackMore</button>
    <!-- <button id="back">Back</button> -->
    <!-- <button id="Fin">Download</button> -->
    <!-- <button id="foward">Foward</button> -->
    <button id="morefoward">FowardMore</button>
  </div>
  </div>
  <script src="interface.js"></script>
</body>

<style>
  .container {
    text-align: center;
    font-size: medium;
  }

  img {
    width: 70%;
    border: 1px solid white;
  }

  .mid {
    width: 15%;
  }

  #buttons {
    position: absolute;
    left: 40%;
    top: 115%;
  }

  button {
    border-radius: 10px;
    font-family: 'Crimson Text', serif;
    border: none;
    color: rgb(80, 160, 206);
    padding: 10px 22px;
    text-align: 32;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    background-color: rgb(230, 230, 230);
  }

  #upload-btn {
    border: 2px solid red;
  }

  #up-btn {
    border: 2px solid black;
  }

  #key {
    width: 50%;
    position: absolute;
    left: 50%;
    top: 1%;
  }

  .isCut {
    border: 4px solid red;
  }

  .checkCut {
    background-color: black;
    padding: 4px;
  }

  .unknown {
    background-color: gray;
    padding: 4px;
  }
</style>
<script>
  let pic = document.getElementById("frame");
  let month = 1;
  let date = 1;
  let hour = 0;
  let dateList = [31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31];
  let hourList = ["00", "01", "02", "03", "04", "05", "06", "07", "08", "09", "10", "11", "12", "13", "14", "15", "16", "17", "18", "19", "20", "21", "22", "23"];
  let pos = 0;
  let data = new Array(366 * 24);
  let checkdata = new Array(366 * 24);

  function Click_Alert() {
    alert("選擇方法後按確認 \n將埔里上空的空汙分佈當成一張張圖片，利用影片分鏡來觀察空汙的變化\n沒有標示的當成shot\n紅色框代表標示的cut，黑色框代表計算出的cut");
  }
  function incut(id) {
    let thisPos = id;
    console.log(thisPos);
    if (data[thisPos] == 0) {
      data[thisPos] = 1;
    }
    else {
      data[thisPos] = 0;
    }

  }

  function BackMore() {
    console.log("backMore");
    for (let i = 0; i < 5; i++) {
      Back();
    }
  }
  function FowardMore() {
    console.log("forwardMore");
    for (let i = 0; i < 5; i++) {
      Foward();
    }
  }
  function Back() {
    console.log("back");
    for (let i = 0; i < 8; i++) {
      pos = pos - 1;
      hour = hour - 1;
      if (hour < 0) {
        hour = 23;
        date = date - 1;
        if (date < 1) {
          month = month - 1;
          date = dateList[month - 1];
          if (month <= 0) {
            return;
          }
        }
      }
    }
    console.log(month, date, hour);
    show();
  }
  function Foward() {
    console.log("forward");
    for (let i = 0; i < 8; i++) {
      pos = pos + 1;
      hour = hour + 1;
      if (hour > 23) {
        hour = 0;
        date = date + 1;
        if (date > dateList[month - 1]) {
          date = 1;
          month = month + 1;
          if (month > 12) {
            return;
          }
        }
      }
    }
    //console.log(month, date, hour);
    show();
  }

  function PicNum() {
    let PicList = [];
    let newmonth = month;
    let newdate = date;
    let newhour = hour;
    for (let i = 0; i < 40; i++) {
      let file = "2018-";
      if (newhour > 23) {
        newhour = 0;
        newdate += 1;
      }
      if (newdate > dateList[newmonth - 1]) {
        newdate = 1;
        newmonth += 1;
      }
      file += `${newmonth}-`;
      file += `${newdate}-`;
      file += hourList[newhour];
      file += "-00";
      PicList.push(file);
      newhour++;
    }

    return PicList;
  }
  function show() {
    let dataName = PicNum();
    let html = '';
    // 先處理檔案名字
    //dataName = "2018-"+`${month}`+"-"+`${date}`+"-"+`${hour}`+"-00";
    //dataName = "2018-1-1-00-00";
    let newpos = pos;
    //html += "<div>";
    for (let i = 0; i < 40; i++) {
      if (i % 8 == -1) {
        html += "<tr>";
      }
      html += "<td>";
      if (data[newpos] == 1) {
        if (checkdata[newpos] == 1) {
          html += `<img id="${newpos}" class="isCut checkCut" src="../static/image/sis/${dataName[i]}.png" onclick="incut(this.id)">${dataName[i]}`;
        }
        else if (checkdata[newpos] == 0) {
          html += `<img id="${newpos}" class="isCut" src="../static/image/sis/${dataName[i]}.png" onclick="incut(this.id)">${dataName[i]}`;
        }
        else if (checkdata[newpos] == 2) {
          html += `<img id="${newpos}" class="isCut unknown" src="../static/image/sis/${dataName[i]}.png" onclick="incut(this.id)">${dataName[i]}`;
        }
      }
      else {
        if (checkdata[newpos] == 2) {
          html += `<img id="${newpos}" class="unknown" src="../static/image/sis/${dataName[i]}.png" onclick="incut(this.id)">${dataName[i]}`;
        }
        else if (checkdata[newpos] == 1) {
          html += `<img id="${newpos}" class="checkCut" src="../static/image/sis/${dataName[i]}.png" onclick="incut(this.id)">${dataName[i]}`;
        }
        else {
          html += `<img id="${newpos}" src="../static/image/sis/${dataName[i]}.png" onclick="incut(this.id)">${dataName[i]}`;
        }
      }
      html += "</td>";
      if (i % 8 == 7 && i != 0) {
        html += "</tr>";
        console.log("------------------");
      }
      console.log(dataName[i]);
      newpos++;
    }
    pic.innerHTML = html;
  }
  function change() {
    // document.getElementById("back").onclick = Back;
    // document.getElementById("foward").onclick = Foward;
    document.getElementById("alert-btn").onclick = Click_Alert;
    document.getElementById("moreback").onclick = BackMore;
    document.getElementById("morefoward").onclick = FowardMore;
    document.getElementById("Fin").onclick = createCsvFile;
    for (let i = 0; i < 365 * 24; i++) {
      data[i] = 0;
    }
  }

  function createCsvFile() {
    var fileName = "cutOrNot.csv";//匯出的檔名
    var blob = new Blob([data], {
      type: "application/octet-stream"
    });
    var href = URL.createObjectURL(blob);
    var link = document.createElement("a");
    document.body.appendChild(link);
    link.href = href;
    link.download = fileName;
    link.click();
  }

  // 預測
  // document.getElementById("upload-btn").onclick = upLoad;
  function upLoad() {
    console.log("files files ________");
    let path = "./static/data/cut_shot/cutOrNot2.csv";
    $.ajax({
      url: "readFile",
      type: "POST",
      data: { "path": path },
      success: function (resp) {
        data = resp.data;
        // data = Object.values(data);
        console.log("data=======================", data);
        console.log(typeof(data));
      }
    });
    // data = newdata;
  }
  // 標示
  document.getElementById("up-btn").onclick = up;
  function up() {
    upLoad()
    var file = document.getElementById("method").value;
    let path = "./static/data/cut_shot/" + file + ".csv";
    $.ajax({
      url: "readFile",
      type: "POST",
      data: { "path": path },
      success: function (resp) {
        checkdata = resp.data;
        // data = Object.values(data);

        console.log("checkdata=======================", checkdata);
        console.log(typeof(checkdata));
        show();
      }
    });
  }

  show()
  change()
</script>

</html>