<header>
  <link rel="stylesheet" href="../static/css/modal.css">
</header>
<!-- gif 空汙動畫 -->
<div id="gif">
    <div class="row">
      <div>
        <img src="" id = "modal" width="">
      </div>
      <!-- <div id="modal" style="overflow: overflow-y"></div> -->
      <span id = "gifName"></span>
    </div>
    <div class="row" id = "gifButton">
      <input type="text" id="speed" name="speed" placeholder="預設速度 2.0" maxlength="3" size="20">
      <button id="speedBtn" onclick="gif()">開始製作gif</button>
      <button id="modalBtn" onclick="hide()">停止播放</button>
      <form action="../qbgResult" method="post">
        <input type="hidden" name="selectName" id="selectName">
        <input type="hidden" name="GEIfolder" id="GEIfolder">
        <button type="submit" class="btn btn-primary" id = "qbgBtn">
          <img src="/static/search.svg" height="25px" class="searchIcon">QBG
        </button>
      </form>
    </div>
</div>

<script src="../static/modal.js"></script>