<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../static/show.css">
  <!-- <link rel="stylesheet" href="{{ url_for('static',    filename='css/show.css') }}"> -->
  <!--引入jQuery包用于使用ajax-->
  <script type="text/javascript" src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
  <title>GEI</title>
</head>

<body class="bg">
  <div id="container">
    {% include 'bs_css.html' %}
    {% include 'bs_js.html' %}
    {% include 'navbar.html' %}

    <div class="text">
      <h2>GEI 分群觀察</h2>
      <p>之後會放流程圖以及操作手冊，敬請期待</p>
      <h4 id="subtitle"></h4>
    </div>
    <div id="functionButton">
      <!-- 按鈕-原始按鈕 -->
      <button class="dataButton" onclick="GEI('GEI_origin');changeColor('dataButton','0')">GEI_origin</button>
      <!-- <button onclick="GEI('GEI_origin_average')">原始數據GEI(平均->開根號)</button> -->
      <!-- 按鈕-等級按鈕 -->
      <button class="dataButton" onclick="GEI('GEI_level');changeColor('dataButton','1')">GEI_Level</button>
      <!-- <button onclick="GEI('GEI_Level_average')">等級GEI(平均)</button> -->
      <!-- GEI 加強對比 -->
      <button class="contrast" onclick="contrast();changeColor('contrast','0')">加強對比</button>
      <!-- 分群按鈕 -->
      <button class="clustering" onclick="clickCluster()">分群</button>
      <!-- GEI 分群檔案 -->
      <!-- <button class="mode" onclick="cluster_pattern('level');changeColor('mode','0')">等級</button>
      <button class="mode" onclick="cluster_pattern('space');changeColor('mode','1')">BOW</button> -->
      <select id="clusterFile">
        <option value="" selected="selected">請選擇方法</option>
        <option value="countLevelNum">計算等級塊數</option>
        <option value="bow_accumulate">BOW - filter 累加</option>
        <option value="bow_quadrantAccumulate">BOW - 分 4 個象限(filter 累加分數)</option>
        <option value="bow_quadrantScore">BOW - 分 4 個象限(象限分數)</option>
        <option value="bow_quadrantAccumulateDecideNum">BOW - 人工決定分群數,分 4 個象限(filter 累加分數)</option>
        <option value="bow_quadrantScoreDecideNum">BOW - 人工決定分群數,分 4 個象限(象限分數)</option>
        <option value="cnn">CNN</option>
      </select>
      <!-- <button onclick="cluster_pattern('cnn')">CNN</button> -->
      <!-- 選取 filter  -->
      <!-- <button class="filter" onclick="filterMode('col');changeColor('filter','0')">豎</button>
      <button class="filter" onclick="filterMode('row');changeColor('filter','1')">橫</button>
      <button class="filter" onclick="filterMode('leftDown');changeColor('filter','2')">左下斜</button>
      <button class="filter" onclick="filterMode('rightDown');changeColor('filter','3')">右下斜</button> -->
      <!-- filter 模式 -->
      <select id="filterDirect">
        <option value="" selected="selected">filter direction</option>
        <option value="col">col</option>
        <option value="row">row</option>
        <option value="rightDown">rightDown</option>
        <option value="leftDown">leftDown</option>
      </select>
      <!-- filter 大小 -->
      <select id="filterSize">
        <option value="" selected="selected">filter size</option>
        <option value="2">2 * 2</option>
        <option value="3">3 * 3</option>
      </select>
      <!-- 返回按鈕 -->
      <button onclick="back()">返回分群代表圖</button>
    </div>
    <div id="gif">
      <!-- gif 空汙動畫 -->
      <div id="modal" style="overflow: overflow-y"></div>
      <table>
        <tr><td><input type="text" id="speed" name="speed" placeholder="速度(輸入0.0~5.0)" maxlength="3" size="10"></td></tr>
        <tr><td><button id="speedBtn" onclick="gif()">開始製作gif</button></td></tr>
        <tr><td><button id="modalBtn" onclick="hide()">停止播放</button></td></tr>
      </table>

    </div>
    <input type="button" id="return" value="回
    到
    頂
    端" onclick="location.href='#functionButton'">
    <!-- GEI 畫面 -->
    <table id="frame"></table>
  </div>
  <script type="text/javascript" src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
  <script src="../static/show.js"></script>
</body>

</html>