.bg {
    /* background-color:rgb(199, 164, 235); */
    background-color: #FDF6EC;
    font-family: 'Crimson Text', serif;
    text-align: center;
    margin: auto;
    color:#614124;
}

/* 網站資訊 */
.text {
    width:fit-content;
    background-color: #F3E9DD;
    display: block;
    margin: auto;
    padding: 10px;
    border-radius: 5px;
    border-radius: 10px;
    margin-top: 10px;
    border: 2px solid #DAB88B;
    position: relative;
}
/* 所有的 button select*/
#functionButton {
    /* position: flex; */
    text-align: center;
    justify-content: center;
    align-items:center;
    padding: auto;
}
/* GEI 圖片範圍 */
#frame{
    justify-content: center;
    align-items:center;
    margin:auto;
}
/* contain gif, speed button... */
#gif{
    z-index: 3;
    position: fixed;
    display: none;
    left:calc(100%/3);
    /* margin-right:auto; */
    top: calc(100%/4);
    /* vertical-align: middle; */
    text-align: center;
}
/* PM2.5彩色圖 */
#modal {
    overflow: auto;
    overscroll-behavior-y: contain;
    /* z-index: 2; */
}

/* 顯示分群圖示 */
#modalCluster {
    width: 90%;
    background-color: none;
    position: fixed;
    display: none;
}

#modalBtnReturn {
    position: fixed;
    margin-top: 100px;
    margin-left: 300px;
    display: none;
}

img {
    border: 2px solid white;
    border-color: white;
}
#simpleFlow{
    border: 0px solid white;
}
p{
    font-size: 16px;
    line-height: 8px;
}
li{
    text-align:justify;
}
button:active {
    transition-duration: 0.2s;
}
button:hover {
    transform: scale(1.2);
}
button {
    /*外框*/
    border-radius: 10px;
    border-color: #CEAB93;
    /* 字 */
    font-size: 20px;
    color: #876445;
    text-decoration: none;
    /* border-color: rgb(175, 89, 255); */
    /* color: rgb(32, 59, 133);        字的顏色 */
    /* color: rgb(75, 52, 82); */
    margin: 5px;
    padding: 10px;
    background-color: #F3E9DD;
    display: inline;
}
select{
    display: inline;
    /*外框*/
    border-radius: 10px;
    border-color: #CEAB93;
    /* 字 */
    font-size: 20px;
    color: #876445;
    text-decoration: none;
    margin: 5px;
    padding: 10px;
    background-color: #F3E9DD;
}
/* 回到頂端 */
#return{
    position:fixed;
    bottom:0;
    right:0;
    margin-bottom: 10px;
    margin-right: 10px;
    padding: 10px;
    border-radius: 10px;
    border-color: #CEAB93;
    /* 字 */
    white-space: pre-line;
    font-size: 20px;
    color: #876445;
    text-decoration: none;
    background-color: #F3E9DD;
}
input{
    line-height: 30px;
}