button:active {
    transition-duration: 0.2s;
}
button:hover {
    transform: scale(1.2);
}
button {
    /*外框*/
    border-radius: 5px;
    border-color: #CEAB93;
    /* 字 */
    font-size: 20px;
    color: #876445;
    text-decoration: none;
    /* border-color: rgb(175, 89, 255); */
    /* color: rgb(32, 59, 133);        字的顏色 */
    /* color: rgb(75, 52, 82); */
    padding: 6px;
    background-color: #F3E9DD;
    display: inline;
}
p{
    font-size: 16px;
    /* line-height: 8px; */
}
li{
    text-align:justify;
}
select{
    display: inline;
    /*外框*/
    border-radius: 10px;
    border-color: #CEAB93;
    /* 字 */
    font-size: 20px;
    color: #876445;
    text-decoration: none;
    margin: 5px;
    padding: 10px;
    background-color: #F3E9DD;
}